/*------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:regular&display=swap");

@font-face {
	font-family: 'Sailec';
	src: url('../fonts/sailec-bold.eot');
	src: local('☺'), url('../fonts/sailec-bold.woff') format('woff'), url('../fonts/sailec-bold.ttf') format('truetype'), url('../fonts/sailec-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}