/*----------------------------------------*/
.header {
	display: grid;
	grid-template-columns: minmax(auto,120px) minmax(auto, 350px);
	grid-template-rows: 1fr;
	justify-content: space-between;
	padding: 25px 60px;
	box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.37);
	background-color: #FFFFFF;
	&__logo {
		display: flex;
		align-items: center;
		height: 30px;
		align-items: center;
	}

	&__menu {
		position: relative;
	}

	&__link {
		font-family: 'Sailec';
		font-weight: 700;
		font-size: 16px;
		line-height: 1;
		letter-spacing: 0.25px;
		color: rgba(102, 102, 102, 0.85);
	}
}

#menu__toggle{
	display: none;
}


@media (max-width: 767px) {
	.header {
		padding: 20px;
		&__menu {
			display: grid;
			justify-items: end;
		}
		&__link {
			display: block;
			width: 100%;
			padding: 10px 0px;
		}
		&__list {
		display: block;
		text-align: center;
		padding: 70px 25px;
		position: fixed;
		z-index: 1;
		visibility: hidden;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100vh;
		background-color: #EEEEEE;
		box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.37);
		transition-duration: .25s;
		li {
			margin: 0px 0px 20px 0px;
			border: 1px solid rgba(0, 0, 0, 0.37);
			border-radius: 5px;
			overflow: hidden;
			&:hover {
				background-color: #FFFFFF;
				text-decoration: underline;
			}
		}
		}
	}
	.menu__btn {
		display: flex;
		align-items: center;
		position: relative;
		overflow: hidden;
		width: 30px;
		height: 30px;
		cursor: pointer;
		z-index: 2;
		&>span {
			position: relative;
			display: block;
			width: 100%;
			height: 2px;
			background-color: #000;
			transition-duration: .25s;
		}
		&>span::before, &>span::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			transition-duration: .25s;
		}
		&>span::before {
			top: -10px;
		}
		&>span::after {
			top: 10px;
		}
	}
	#menu__toggle:checked ~ .menu__btn > span {
		transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before {
		top: 0;
		transform: rotate(0deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::after {
		top: 0;
		transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .header__list {
		visibility: visible;
		right: 0;
	}
	#menu__toggle:checked ~ .menu__btn {
		position: fixed;
	}
}

@media (min-width: 768px) {
	.header{
		align-items: center;
		&__link {
			&:hover {
				color: rgba(24, 19, 19, 0.85);
				text-decoration: underline;
			}
		}
		&__list {
			display: grid;
			gap: 20px;
			grid-template-rows: 1fr;
			grid-auto-flow: column;
			justify-items: center;
		}
	}
}



